.footer {
    text-align: center;
    color: #000000;
    font-size: 14px;
    padding: 10px 0;
    background: #ffbb42;
    font-weight: 600;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}